li{
  list-style: none;
}
ul{
  padding:0;
  margin-bottom: 0;
}
p{
  margin:0;
}
.listbanner{
  width: 100%;
  position: relative;
  overflow: hidden;
  height:375px;
}

.listbanner ul{
  position: absolute;
}
.listbanner ul li{
  float: left;
}
.listbanner li img{
  width: 100%;
}

.WSCSlide{
    -webkit-transform:translate3d(0,0,0);
}
.WSCSlideTransition{
    -webkit-transition: all 0.5s 0s ease-in-out;
}
.main{
  width: 100%;
  background: #f8f8f8;
  padding-bottom: 60px;
}
.introduction ul{
  overflow: auto;
}
.introduction li{
  float: left;
  width: 50%;
  color: #ccc;
}
.introduction p{
  height: 24px;
  line-height: 24px;
}
.introduction ul{
  padding:18px 0;
}
.introduction{
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding:0 2.64%;
  padding-top: 10px;
  margin:0 auto;
  background: #fff;
}
.baozhang {
    padding:0 2.64%;
    overflow: auto;
    background: #fff;
}
.baozhang li{
  float: left;
  padding-left: 22px;
  margin:18px 0;
  background-image: url(../images/around/bgok.png);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position-y:2px; 
  font-weight: 600;
}
h4{
  margin:0;
}
.comment_list{
  padding:0 2.64%;
  padding-top: 10px;
  /* height: 280px; */
  overflow: hidden;
}
.comment_list h4{float: left;}
.comment_list p{
  color: #fc595a;
  font-size: 14px;
  float: right;
  letter-spacing:2px;
  
}
.comment_arrow{
  width: 16px;
  padding-top: 0px;
  margin-top: -4px;
  display: inline-block;
  
}
.gitfintro{
  margin-top: 8px;
  background: #fff;
  padding:0 2.64%;
  padding-top: 10px;
  overflow: hidden;
}

.gitfintro p{
  padding-top:20px;
}
.main>p{
  color:#ddd;
  background: #fff;
  padding:20px 2.64%;
}
.bd{
  position: fixed;
  bottom: 0;
  width: 100%;
}

.three{
  float: left;
  background: aquamarine;
}
.bd li{
  float: left;
  width: 50%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-weight: 600;
}
.bd li a{
  color: #fff;
}
.zz{
  background: #3d3e52;
}
.dh{
  background: #fc595a;
}

.btn_three{
  width: 33%;
}
